[submodule "repos/llSourcell/linear_regression_demo"]
	path = repos/llSourcell/linear_regression_demo
	url = git@github.com:llSourcell/linear_regression_demo.git
[submodule "repos/ludobouan/linear-regression-sklearn"]
	path = repos/ludobouan/linear-regression-sklearn
	url = git@github.com:ludobouan/linear-regression-sklearn.git
[submodule "repos/amanullahtariq/MLAlgorithm"]
	path = repos/amanullahtariq/MLAlgorithm
	url = git@github.com:amanullahtariq/MLAlgorithm.git
[submodule "repos/llSourcell/Make_a_neural_network"]
	path = repos/llSourcell/Make_a_neural_network
	url = git@github.com:llSourcell/Make_a_neural_network.git
[submodule "repos/ludobouan/pure-numpy-feedfowardNN"]
	path = repos/ludobouan/pure-numpy-feedfowardNN
	url = git@github.com:ludobouan/pure-numpy-feedfowardNN.git
[submodule "repos/jiexunsee/Neural-Network-with-Python"]
	path = repos/jiexunsee/Neural-Network-with-Python
	url = git@github.com:jiexunsee/Neural-Network-with-Python.git
[submodule "repos/llSourcell/How_to_do_Sentiment_Analysis"]
	path = repos/llSourcell/How_to_do_Sentiment_Analysis
	url = git@github.com:llSourcell/How_to_do_Sentiment_Analysis.git
[submodule "repos/erilyth/DeepLearning-Challenges"]
	path = repos/erilyth/DeepLearning-Challenges
	url = git@github.com:erilyth/DeepLearning-Challenges.git
[submodule "repos/jovianlin/siraj-intro-to-DL-03"]
	path = repos/jovianlin/siraj-intro-to-DL-03
	url = git@github.com:jovianlin/siraj-intro-to-DL-03.git
[submodule "repos/llSourcell/how_to_do_math_for_deep_learning"]
	path = repos/llSourcell/how_to_do_math_for_deep_learning
	url = git@github.com:llSourcell/how_to_do_math_for_deep_learning.git
[submodule "repos/alkaya/earthquake-cotw"]
	path = repos/alkaya/earthquake-cotw
	url = git@github.com:alkaya/earthquake-cotw.git
[submodule "repos/sibyjackgrove/Earthquake_predict"]
	path = repos/sibyjackgrove/Earthquake_predict
	url = git@github.com:sibyjackgrove/Earthquake_predict.git
[submodule "repos/llSourcell/How_to_Make_Data_Amazing"]
	path = repos/llSourcell/How_to_Make_Data_Amazing
	url = git@github.com:llSourcell/How_to_Make_Data_Amazing.git
[submodule "repos/alkaya/TFmyValentine-cotw"]
	path = repos/alkaya/TFmyValentine-cotw
	url = git@github.com:alkaya/TFmyValentine-cotw.git
[submodule "repos/mdalai/Deep-Learning-projects"]
	path = repos/mdalai/Deep-Learning-projects
	url = git@github.com:mdalai/Deep-Learning-projects.git
[submodule "repos/llSourcell/how_to_make_an_image_classifier"]
	path = repos/llSourcell/how_to_make_an_image_classifier
	url = git@github.com:llSourcell/how_to_make_an_image_classifier.git
[submodule "repos/jiexunsee/Simple-Inception-Transfer-Learning"]
	path = repos/jiexunsee/Simple-Inception-Transfer-Learning
	url = git@github.com:jiexunsee/Simple-Inception-Transfer-Learning.git
[submodule "repos/llSourcell/How-to-Predict-Stock-Prices-Easily-Demo"]
	path = repos/llSourcell/How-to-Predict-Stock-Prices-Easily-Demo
	url = git@github.com:llSourcell/How-to-Predict-Stock-Prices-Easily-Demo.git
[submodule "repos/etai83/lstm_stock_prediction"]
	path = repos/etai83/lstm_stock_prediction
	url = git@github.com:etai83/lstm_stock_prediction.git
[submodule "repos/AndysDeepAbstractions/How-to-Predict-Stock-Prices-Easily-Demo"]
	path = repos/AndysDeepAbstractions/How-to-Predict-Stock-Prices-Easily-Demo
	url = git@github.com:AndysDeepAbstractions/How-to-Predict-Stock-Prices-Easily-Demo.git
[submodule "repos/llSourcell/How-to-Generate-Art-Demo"]
	path = repos/llSourcell/How-to-Generate-Art-Demo
	url = git@github.com:llSourcell/How-to-Generate-Art-Demo.git
[submodule "repos/michalpelka/How-to-Generate-Art-Demo"]
	path = repos/michalpelka/How-to-Generate-Art-Demo
	url = git@github.com:michalpelka/How-to-Generate-Art-Demo.git
[submodule "repos/llSourcell/How-to-Generate-Music-Demo"]
	path = repos/llSourcell/How-to-Generate-Music-Demo
	url = git@github.com:llSourcell/How-to-Generate-Music-Demo.git
[submodule "repos/jiexunsee/rudimentary-ai-composer"]
	path = repos/jiexunsee/rudimentary-ai-composer
	url = git@github.com:jiexunsee/rudimentary-ai-composer.git
[submodule "repos/llSourcell/How_to_make_a_text_summarizer"]
	path = repos/llSourcell/How_to_make_a_text_summarizer
	url = git@github.com:llSourcell/How_to_make_a_text_summarizer.git
[submodule "repos/rtlee9/recipe-summarization"]
	path = repos/rtlee9/recipe-summarization
	url = git@github.com:rtlee9/recipe-summarization.git
[submodule "repos/scollins83/teal_deer"]
	path = repos/scollins83/teal_deer
	url = git@github.com:scollins83/teal_deer.git
[submodule "repos/llSourcell/How_to_make_a_language_translator"]
	path = repos/llSourcell/How_to_make_a_language_translator
	url = git@github.com:llSourcell/How_to_make_a_language_translator.git
[submodule "repos/Nemzy/language-translation"]
	path = repos/Nemzy/language-translation
	url = git@github.com:Nemzy/language-translation.git
[submodule "repos/llSourcell/How_to_make_a_chatbot"]
	path = repos/llSourcell/How_to_make_a_chatbot
	url = git@github.com:llSourcell/How_to_make_a_chatbot.git
[submodule "repos/xkortex/Siraj_Chatbot_Challenge"]
	path = repos/xkortex/Siraj_Chatbot_Challenge
	url = git@github.com:xkortex/Siraj_Chatbot_Challenge.git
[submodule "repos/llSourcell/how_to_win_slot_machines"]
	path = repos/llSourcell/how_to_win_slot_machines
	url = git@github.com:llSourcell/how_to_win_slot_machines.git
[submodule "repos/xkortex/how_to_win_slot_machines"]
	path = repos/xkortex/how_to_win_slot_machines
	url = git@github.com:xkortex/how_to_win_slot_machines.git
[submodule "repos/esha-sg/Intro-DeepLearning-Siraj-Week13"]
	path = repos/esha-sg/Intro-DeepLearning-Siraj-Week13
	url = git@github.com:esha-sg/Intro-DeepLearning-Siraj-Week13.git
