[submodule "repos/llSourcell/linear_regression_demo"]
	path = repos/llSourcell/linear_regression_demo
	url = git@github.com:llSourcell/linear_regression_demo.git
[submodule "repos/ludobouan/linear-regression-sklearn"]
	path = repos/ludobouan/linear-regression-sklearn
	url = git@github.com:ludobouan/linear-regression-sklearn.git
[submodule "repos/amanullahtariq/MLAlgorithm"]
	path = repos/amanullahtariq/MLAlgorithm
	url = git@github.com:amanullahtariq/MLAlgorithm.git
[submodule "repos/llSourcell/Make_a_neural_network"]
	path = repos/llSourcell/Make_a_neural_network
	url = git@github.com:llSourcell/Make_a_neural_network.git
[submodule "repos/ludobouan/pure-numpy-feedfowardNN"]
	path = repos/ludobouan/pure-numpy-feedfowardNN
	url = git@github.com:ludobouan/pure-numpy-feedfowardNN.git
[submodule "repos/jiexunsee/Neural-Network-with-Python"]
	path = repos/jiexunsee/Neural-Network-with-Python
	url = git@github.com:jiexunsee/Neural-Network-with-Python.git
[submodule "repos/llSourcell/How_to_do_Sentiment_Analysis"]
	path = repos/llSourcell/How_to_do_Sentiment_Analysis
	url = git@github.com:llSourcell/How_to_do_Sentiment_Analysis.git
[submodule "repos/erilyth/DeepLearning-Challenges"]
	path = repos/erilyth/DeepLearning-Challenges
	url = git@github.com:erilyth/DeepLearning-Challenges.git
[submodule "repos/jovianlin/siraj-intro-to-DL-03"]
	path = repos/jovianlin/siraj-intro-to-DL-03
	url = git@github.com:jovianlin/siraj-intro-to-DL-03.git
